# =========================================
# Arquivos de Sistema
# =========================================
.DS_Store
Thumbs.db

# =========================================
# Logs
# =========================================
*.log

# =========================================
# IDEs
# =========================================
# IntelliJ
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# =========================================
# Java/Groovy build
# =========================================
*.class
*.jar
*.war
*.ear
target/
build/
.gradle/
.gradle-cache/

# =========================================
# Outros
# =========================================
*.swp
*.tmp
